<ion-view view-title="About">
	<ion-content>
<div class="item item-body">

		<div class="card">
      <div class="item item-divider" style="border-color: #546f7a;">
              <h2 style="font-weight:bold;color:#7b312d;text-align:center;">3E Meal Reminder</h2>
              <p style="font-weight:bold;color:#30999e;text-align:center; font-style: italic;">"Eat Regularly. Eat on time. Eat Healthy!"</p>
              
      </div>
      <div class="item item-text-wrap item-good" style="border-color: #546f7a; border-width: 2px;">
        <center>
            <p style="font-weight:bold;color:black;text-align:center;">This application is for people who have eating disorders, and to those health-conscious and weight-conscious people. This application claims to answer questions like "What should you eat?" rather than just tracking your food. This is to plan your next meal and be reminded.</p>
        </center>
  
      </div>
    </div>

  <br><br>
</div>

	</ion-content>
</ion-view>