<ion-view view-title="login"></ion-view>

<ion-item style="text-align:center; background-image:url(img/ahh.png); background-repeat; background-size: cover;">

<br> <br><br><img src="img/applogo.png" width=" 150px">

	<ion-list>
			
					
					<div class="list">
					
						<!-- <label class="item item-input" style="border-radius: 5px; color: #42bcf4; text-align: center;">
							<input type ="text" ng-model="bf" placeholder="Breakfast" style="text-align: center;" required>
						</label> -->
						


						<label class="item item-input" style="border-radius: 3px; color: #42bcf4; text-align: center;">
							<input type ="text" ng-model="time" placeholder="Time" style="text-align: center;" required>
						</label>
						<br>

						<label class="item item-input" style="border-radius: 5px; color: #42bcf4; text-align: center;">
							<input type ="text" ng-model="ms" placeholder="Morning Snack" style="text-align: center;" required>
						</label>
						<label class="item item-input" style="border-radius: 3px; color: #42bcf4; text-align: center;">
							<input type ="text" ng-model="time" placeholder="Time" style="text-align: center;" required>
						</label>
						<br>

						<label class="item item-input" style="border-radius: 5px; color: #42bcf4; text-align: center;">
							<input type ="text" ng-model="lu" placeholder="Lunch" style="text-align: center;" required>
						</label>
						<label class="item item-input" style="border-radius: 3px; color: #42bcf4; text-align: center;">
							<input type ="text" ng-model="time" placeholder="Time" style="text-align: center;" required>
						</label>
						<br>

						<label class="item item-input" style="border-radius: 5px; color: #42bcf4; text-align: center;">
							<input type ="text" ng-model="as" placeholder="Afternoon Snack" style="text-align: center;" required>
						</label>
						<label class="item item-input" style="border-radius: 3px; color: #42bcf4; text-align: center;">
							<input type ="text" ng-model="time" placeholder="Time" style="text-align: center;" required>
						</label>
						<br>

						<label class="item item-input" style="border-radius: 5px; color: #42bcf4; text-align: center;">
							<input type ="text" ng-model="di" placeholder="Dinner" style="text-align: center;" required>
						</label>
						<label class="item item-input" style="border-radius: 3px; color: #42bcf4; text-align: center;">
							<input type ="text" ng-model="time" placeholder="Time" style="text-align: center;" required>
						</label>
						<br>
						
						<br>
						<button type="submit" class="button button-block button-positive" style="border-radius:100px;">
						Submit
						</button><br>
						
						
					</div>
						
				</form>
		
	</ion-list> <br><br><br><br><br><br><br><br>
				
</ion-item>
	