<ion-view view-title="  Set your meal">
  <ion-content>

    <div class="item item-body" ng-controller ="meal">

        <div>
        <ion-list>
            <ion-item style="border-color: #546f7a;"> <h3 style="color: #546f7a;" id="title"> {{a}} </h3>
            <label class="item item-input"> <input type="time" ng-model="notif_time" placeholder="Time"; id="time" style="text-align: center;"> </input></label>

            <h4 style="color: #546f7a;"> Food </h4>
            <label class="item item-input"> <input type="text" id="food" ng-model="data.food" placeholder="Fill in"; style="text-align: center;"> </input></label>
        </ion-list>
        </div>

        <button ng-click="sendreport()" class="button icon-left ion-ios-filing button-calm col text-left button button-small style="text-align: center;">Done!</button>
    </div>
       <!--  <br>
        <div>
        <ion-list>
            <ion-item style="border-color: #546f7a;"> <h3 style="color: #546f7a;"> Morning Snack </h3>
            <label class="item item-input"> <input type="text" ng-model="notif_time" placeholder="Time"; style="text-align: center;"> </input></label>

            <h4 style="color: #546f7a;"> Food </h4>
            <label class="item item-input"> <input type="text" ng-model="food" placeholder="Fill in"; style="text-align: center;"> </input></label>
        </ion-list>
        </div>
        <br>
        <div>
        <ion-list>
            <ion-item style="border-color: #546f7a;"> <h3 style="color: #546f7a;"> Lunch </h3>
            <label class="item item-input"> <input type="text" ng-model="notif_time" placeholder="Time"; style="text-align: center;"> </input></label>

            <h4 style="color: #546f7a;"> Food </h4>
            <label class="item item-input"> <input type="text" ng-model="food" placeholder="Fill in"; style="text-align: center;"> </input></label>
        </ion-list>
        </div>
        <br>
        <div>
        <ion-list>
            <ion-item style="border-color: #546f7a;"> <h3 style="color: #546f7a;"> Afternoon Snack </h3>
            <label class="item item-input"> <input type="text" ng-model="notif_time" placeholder="Time"; style="text-align: center;"> </input></label>

            <h4 style="color: #546f7a;"> Food </h4>
            <label class="item item-input"> <input type="text" ng-model="food" placeholder="Fill in"; style="text-align: center;"> </input></label>
        </ion-list>
        </div>
        <br>
        <div>
        <ion-list>
            <ion-item style="border-color: #546f7a;"> <h3 style="color: #546f7a;"> Dinner </h3>
            <label class="item item-input"> <input type="text" ng-model="notif_time" placeholder="Time"; style="text-align: center;"> </input></label>

            <h4 style="color: #546f7a;"> Food </h4>
            <label class="item item-input"> <input type="text" ng-model="food" placeholder="Fill in"; style="text-align: center;"> </input></label>
        </ion-list>
        </div>
        <br>
        <button type="submit" class="button icon-left ion-ios-filing button-calm col text-left button button-small style="text-align: center;">Done!</button>

     </div> <br> <br>  -->
   </ion-content>
</ion-view>