<ion-view view-title="  Set your weekly meal">
  <ion-content>

    <div class="item item-body">

        <ion-list>
                <ion-item menu-close class="item item-button-right" style="border-color: #546f7a; border-width: 2px;"> Breakfast:
                    <a class="button button-icon ion-edit badge-container" href="#/app/meal"> </a>
                </ion-item> <br>
                <ion-item menu-close class="item item-button-right" style="border-color: #546f7a; border-width: 2px;"> Morning Snack:
                    <a class="button button-icon ion-edit badge-container" href="#/app/meal"> </a>
                </ion-item> <br>
                <ion-item menu-close class="item item-button-right" style="border-color: #546f7a; border-width: 2px;"> Lunch: <br>
                    <a class="button button-icon ion-edit badge-container" href="#/app/meal"> </a>
                </ion-item> <br>
                <ion-item menu-close class="item item-button-right" style="border-color: #546f7a; border-width: 2px;"> Afternoon Snack: <br>
                    <a class="button button-icon ion-edit badge-container" href="#/app/meal"> </a>
                </ion-item> <br>
                <ion-item menu-close class="item item-button-right" style="border-color: #546f7a; border-width: 2px;"> Dinner: <br>
                    <a class="button button-icon ion-edit badge-container" href="#/app/meal"> </a> 
                </ion-item> <br>
                
               
        </ion-list>
        <br> <br>
    </div>

  </ion-content>
</ion-view>